name = "MPI"
uuid = "da04e1cc-30fd-572f-bb4f-1f8673147195"
authors = []
version = "0.20.15"

[deps]
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
MPICH_jll = "7cb0a576-ebde-5e09-9194-50597f1243b4"
MPIPreferences = "3da0fdf6-3ccc-4f1b-acd9-58baa6c99267"
MPItrampoline_jll = "f1f71cc9-e9ae-5b93-9b94-4fe0e1ad3748"
MicrosoftMPI_jll = "9237b28f-5490-5468-be7b-bb81f5f5e6cf"
OpenMPI_jll = "fe0851c0-eecd-5654-98d4-656369965a5c"
PkgVersion = "eebad327-c553-4316-9ea0-9fa01ccd7688"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
Sockets = "6462fe0b-24de-5631-8697-dd941f90decc"

[compat]
AMDGPU = "0.5.7, 0.6"
CUDA = "3, 4"
DocStringExtensions = "0.8, 0.9"
MPIPreferences = "0.1.8"
PkgVersion = "0.3"
PrecompileTools = "1.0.1"
Requires = "~0.5, 1.0"
julia = "1.6"

[extensions]
AMDGPUExt = "AMDGPU"
CUDAExt = "CUDA"

[extras]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"

[weakdeps]
AMDGPU = "21141c5a-9bdb-4563-92ae-f87d6854732e"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
