name: ShellCheck

on:
  push:
    branches:
      - master
      - release-*
    tags: '*'
    paths:
      - 'bin/**'
  pull_request:
    paths:
      - 'bin/**'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: sudo apt install shellcheck
      - name: Check scripts
        run: shellcheck bin/*
