name: Unit Tests

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  test-default:
    timeout-minutes: 20
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        julia_version:
          - "1.6"
          - "1"
          - "nightly"
        julia_arch: [x64, x86]
        exclude:
          - os: macos-latest
            julia_arch: x86

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - uses: julia-actions/setup-julia@latest
      with:
        arch: ${{ matrix.julia_arch }}
        version: ${{ matrix.julia_version }}
    - uses: julia-actions/cache@v1

    - name: add MPIPreferences
      shell: julia --color=yes --project=. {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")

    - uses: julia-actions/julia-runtest@latest

  test-openmpi-jll:
    timeout-minutes: 20
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        julia_version:
          - "1.6"
          - "1"
          - "nightly"
        julia_arch: [x64, x86]
        exclude:
          - os: macos-latest
            julia_arch: x86

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - uses: julia-actions/setup-julia@latest
      with:
        arch: ${{ matrix.julia_arch }}
        version: ${{ matrix.julia_version }}
    - uses: julia-actions/cache@v1

    - name: add MPIPreferences, use system
      shell: julia --color=yes --project=test {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")
        using MPIPreferences
        MPIPreferences.use_jll_binary("OpenMPI_jll", export_prefs=true)

    - uses: julia-actions/julia-runtest@latest

  test-system-brew:
    timeout-minutes: 20
    strategy:
      matrix:
        mpi:
          - mpich
          - openmpi
        julia_version:
          - "1"

      fail-fast: false

    runs-on: macos-latest

    env:
      JULIA_MPI_BINARY: system
      JULIA_MPI_PATH: /usr/local

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Install MPI via homebrew
      run: brew install $MPI
      env:
        MPI: ${{ matrix.mpi }}

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    - uses: julia-actions/cache@v1

    - name: add MPIPreferences, use system
      shell: julia --color=yes --project=test {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")
        using MPIPreferences
        MPIPreferences.use_system_binary(export_prefs=true)
    - uses: julia-actions/julia-runtest@latest
      env:
        # TODO: Only disable this test for MPICH. OpenMPI works fine.
        JULIA_MPI_TEST_DISABLE_REDUCE_ON_APPLE: 1


  test-system-apt:
    timeout-minutes: 20
    strategy:
      matrix:
        mpi:
          - libmpich-dev
          - libopenmpi-dev
        julia_version:
          - "1"

      fail-fast: false

    runs-on: ubuntu-20.04

    env:
      JULIA_MPI_BINARY: system
      JULIA_MPI_PATH: /usr
      OMPI_MCA_btl_base_warn_component_unused: 0

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Install MPI via apt
      run: |
        sudo apt-get update
        sudo apt-get install $MPI
      env:
        MPI: ${{ matrix.mpi }}

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    - uses: julia-actions/cache@v1

    - name: add MPIPreferences, use system
      shell: julia --color=yes --project=test {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")
        using MPIPreferences
        MPIPreferences.use_system_binary(export_prefs=true)

    - uses: julia-actions/julia-runtest@latest

  test-intel-linux:
    timeout-minutes: 20
    strategy:
      matrix:
        julia_version:
          - "1"

      fail-fast: false

    runs-on: ubuntu-18.04  # 20.04 not supported

    env:
      JULIA_MPI_BINARY: system
      JULIA_MPI_PATH: /home/runner/intel/compilers_and_libraries_2020.4.304/linux/mpi/intel64

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Cache Intel MPI
      id: cache-intelmpi
      uses: actions/cache@v2
      with:
        path: l_mpi_2019.9.304.tgz
        key: ${{ runner.os }}-intelmpi-2019.9.304

    - name: Download Intel MPI
      if: steps.cache-intelmpi.outputs.cache-hit != 'true'
      run: wget https://registrationcenter-download.intel.com/akdlm/irc_nas/tec/17263/l_mpi_2019.9.304.tgz

    - name: Install Intel MPI
      run: |
        tar -xzf l_mpi_2019.9.304.tgz
        pushd l_mpi_2019.9.304
        cat << EOF > intel.conf
        ACCEPT_EULA=accept
        CONTINUE_WITH_OPTIONAL_ERROR=yes
        PSET_INSTALL_DIR=${HOME}/intel
        CONTINUE_WITH_INSTALLDIR_OVERWRITE=yes
        PSET_MODE=install
        ARCH_SELECTED=ALL
        COMPONENTS=;intel-conda-index-tool__x86_64;intel-comp-l-all-vars__noarch;intel-comp-nomcu-vars__noarch;intel-imb__x86_64;intel-mpi-rt__x86_64;intel-mpi-sdk__x86_64;intel-mpi-doc__x86_64;intel-mpi-samples__x86_64;intel-mpi-installer-license__x86_64;intel-conda-impi_rt-linux-64-shadow-package__x86_64;intel-conda-impi-devel-linux-64-shadow-package__x86_64;intel-mpi-psxe__x86_64;intel-psxe-common__noarch;intel-compxe-pset
        EOF
        ./install.sh --silent intel.conf
        popd

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    - uses: julia-actions/cache@v1

    # we can't use the usual actions here as we need to ensure the environment variables are set
    - name: "Build package"
      run: |
        source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh release
        julia --project -e 'using Pkg; Pkg.instantiate(verbose=true); Pkg.build(verbose=true)'
    - name: "Run tests"
      run: |
        source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh release
        julia --project -e 'using Pkg; Pkg.test()'


  test-system-msmpi:
    timeout-minutes: 20
    strategy:
      matrix:
        julia_version:
          - "1"

      fail-fast: false

    runs-on: windows-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Download Microsoft MPI
      run: (new-object net.webclient).DownloadFile("https://download.microsoft.com/download/a/5/2/a5207ca5-1203-491a-8fb8-906fd68ae623/msmpisetup.exe", "msmpisetup.exe")
      shell: powershell

    - name: Install Microsoft MPI
      run: msmpisetup.exe -unattend -minimal
      shell: cmd

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    - uses: julia-actions/cache@v1

    - name: add MPIPreferences, use system
      shell: julia --color=yes --project=test {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")
        using MPIPreferences
        MPIPreferences.use_system_binary(export_prefs=true)

    - uses: julia-actions/julia-runtest@latest


  test-mpitrampoline-jll:
    timeout-minutes: 20
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        mpi: [mpitrampoline]
        julia_version:
          - "1.6"
          - "1"
          - "nightly"
        julia_arch:
          - x64
          - x86
        exclude:
          - os: macos-latest
            julia_arch: x86

      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    - uses: julia-actions/cache@v1

    - name: add MPIPreferences, use system
      shell: julia --color=yes --project=test {0}
      run: |
        using Pkg
        Pkg.develop(path="lib/MPIPreferences")
        using MPIPreferences
        MPIPreferences.use_jll_binary("MPItrampoline", export_prefs=true)

    - uses: julia-actions/julia-runtest@latest


# It takes too long to build MPICH or OpenMPI from source.
#   test-mpitrampoline-system-macos:
#     timeout-minutes: 20
#     strategy:
#       matrix:
#         mpi:
#           - mpich
#           - openmpi
#         julia_version:
#           - "1.6"
#           - "1.7"
#           - "nightly"
#
#       fail-fast: false
#
#     runs-on: macos-latest
#
#     env:
#       JULIA_MPI_BINARY: MPItrampoline_jll
#       MPITRAMPOLINE_VERBOSE: 1   #TODO
#       MPITRAMPOLINE_LIB: /usr/local/lib/libmpiwrapper.so
#       MPITRAMPOLINE_MPIEXEC: /usr/local/bin/mpiexec
#
#     steps:
#     - name: Cancel Previous Runs
#       uses: styfle/cancel-workflow-action@0.4.0
#       with:
#         access_token: ${{ github.token }}
#
#     - name: Checkout
#       uses: actions/checkout@v2.2.0
#
#     - name: Install Homebrew packages
#       run: brew install autoconf automake
#       env:
#         MPI: ${{ matrix.mpi }}
#
#     # We cannot install MPICH or OpenMPI via Homebrew or MacPorts,
#     # since the MPI libraries there use a flat namespace, which means
#     # that they cannot be loaded as plugin. We need to build the
#     # libraries ourselves.
#     - name: Install MPI
#       run: |
#         case ${{ matrix.mpi }} in
#         mpich)
#             # Install MPICH 4.0.b1 (a beta version) since 3.4.2 has a
#             # bug in MPI_Reduce
#             wget http://www.mpich.org/static/downloads/4.0b1/mpich-4.0b1.tar.gz
#             tar xzf mpich-4.0b1.tar.gz
#             cd mpich*
#             ./configure \
#                 --enable-two-level-namespace \
#                 --prefix=/usr/local \
#                 CC=gcc-11 \
#                 CXX=g++-11 \
#                 FC=gfortran-11 \
#                 FFLAGS=-fallow-argument-mismatch \
#                 FCFLAGS=-fallow-argument-mismatch
#             make -j$(nproc)
#             sudo make -j$(nproc) install
#         ;;
#         openmpi)
#             wget https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.2.tar.gz
#             tar xzf openmpi-4.1.2.tar.gz
#             cd openmpi*
#             find . -type f -print0 | xargs -0 perl -pi -e 's/-Wl,-flat_namespace//g'
#             ./autogen.pl --force
#             ./configure \
#                 --prefix=/usr/local \
#                 CC=gcc-11 \
#                 CXX=g++-11 \
#                 FC=gfortran-11
#             make -j$(nproc)
#             sudo make -j$(nproc) install
#         ;;
#         esac
#       env:
#         MPI: ${{ matrix.mpi }}
#
#     - name: Build MPIwrapper
#       run: |
#         wget https://github.com/eschnett/MPIwrapper/archive/refs/tags/v2.2.1.tar.gz
#         tar xzf v2.2.1.tar.gz
#         cd MPIwrapper-*
#         cmake \
#             -DCMAKE_CXX_COMPILER=g++-11 \
#             -DCMAKE_Fortran_COMPILER=gfortran-11 \
#             -DMPIEXEC_EXECUTABLE=mpiexec \
#             -DCMAKE_BUILD_TYPE=Debug \
#             -DCMAKE_INSTALL_PREFIX=/usr/local \
#             .
#         # cmake \
#         #     -DCMAKE_CXX_COMPILER=g++-11 \
#         #     -DCMAKE_Fortran_COMPILER=gfortran-11 \
#         #     -DMPI_CXX_ADDITIONAL_INCLUDE_DIRS=/usr/local/include \
#         #     -DMPI_CXX_ADDITIONAL_INCLUDE_DIRS=/usr/local/include \
#         #     -DMPI_CXX_LIB_NAMES='mpi' \
#         #     -DMPI_Fortran_ADDITIONAL_INCLUDE_DIRS='/usr/local/include;/usr/local/lib' \
#         #     -DMPI_Fortran_LIB_NAMES='mpi_usempif08;mpi_usempi_ignore_tkr;mpi_mpifh;mpi' \
#         #     -DMPI_mpi_LIBRARY=/usr/local/lib/libmpi.dylib \
#         #     -DMPI_mpi_mpifh_LIBRARY=/usr/local/lib/libmpi_mpifh.dylib \
#         #     -DMPI_mpi_usempi_ignore_tkr_LIBRARY=/usr/local/lib/libmpi_usempi_ignore_tkr.dylib \
#         #     -DMPI_mpi_usempif08_LIBRARY=/usr/local/lib/libmpi_usempif08.dylib \
#         #     -DMPIEXEC_EXECUTABLE=/usr/local/bin/mpiexec \
#         #     -DCMAKE_BUILD_TYPE=Debug \
#         #     -DCMAKE_INSTALL_PREFIX=/usr/local \
#         #     .
#         cmake --build .
#         sudo cmake --install .
#
#     - uses: julia-actions/setup-julia@latest
#       with:
#         version: ${{ matrix.julia_version }}
#
#     # https://discourse.julialang.org/t/recommendation-cache-julia-artifacts-in-ci-services/35484
#     - name: Cache artifacts
#       uses: actions/cache@v1
#       env:
#         cache-name: cache-artifacts
#       with:
#         path: ~/.julia/artifacts
#         key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
#         restore-keys: |
#           ${{ runner.os }}-test-${{ env.cache-name }}-
#           ${{ runner.os }}-test-
#           ${{ runner.os }}-
#
#     - uses: julia-actions/julia-buildpkg@latest
#     - uses: julia-actions/julia-runtest@latest


  test-mpitrampoline-system-apt:
    timeout-minutes: 20
    strategy:
      matrix:
        mpi:
          - libmpich-dev
          - libopenmpi-dev
        julia_version:
          - "1.6"
          # We don't need to test all combinations
          # - "1.7"
          # - "nightly"

      fail-fast: false

    runs-on: ubuntu-20.04

    env:
      JULIA_MPI_BINARY: MPItrampoline_jll
      MPITRAMPOLINE_LIB: /usr/local/lib/libmpiwrapper.so
      MPITRAMPOLINE_MPIEXEC: /usr/bin/mpiexec
      OMPI_MCA_btl_base_warn_component_unused: 0

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Install MPI via apt
      run: sudo apt-get install $MPI
      env:
        MPI: ${{ matrix.mpi }}

    - name: Build MPIwrapper
      run: |
        wget https://github.com/eschnett/MPIwrapper/archive/refs/tags/v2.2.1.tar.gz
        tar xzf v2.2.1.tar.gz
        cd MPIwrapper-*
        cmake -DMPIEXEC_EXECUTABLE=mpiexec -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=/usr/local .
        cmake --build .
        sudo cmake --install .

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    # https://discourse.julialang.org/t/recommendation-cache-julia-artifacts-in-ci-services/35484
    - name: Cache artifacts
      uses: actions/cache@v1
      env:
        cache-name: cache-artifacts
      with:
        path: ~/.julia/artifacts
        key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
        restore-keys: |
          ${{ runner.os }}-test-${{ env.cache-name }}-
          ${{ runner.os }}-test-
          ${{ runner.os }}-

    - uses: julia-actions/julia-runtest@latest


  test-mpitrampoline-intel-linux:
    timeout-minutes: 20
    strategy:
      matrix:
        julia_version:
          - "1.6"
          # We don't need to test all combinations
          # - "1.7"
          # - "nightly"

      fail-fast: false

    runs-on: ubuntu-18.04  # 20.04 not supported

    env:
      JULIA_MPI_BINARY: MPItrampoline_jll
      MPITRAMPOLINE_LIB: /usr/local/lib/libmpiwrapper.so
      MPITRAMPOLINE_MPIEXEC: /home/runner/intel/compilers_and_libraries_2020.4.304/linux/mpi/intel64/bin/mpiexec

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - name: Checkout
      uses: actions/checkout@v2.2.0

    - name: Cache Intel MPI
      id: cache-intelmpi
      uses: actions/cache@v2
      with:
        path: l_mpi_2019.9.304.tgz
        key: ${{ runner.os }}-intelmpi-2019.9.304

    - name: Download Intel MPI
      if: steps.cache-intelmpi.outputs.cache-hit != 'true'
      run: wget https://registrationcenter-download.intel.com/akdlm/irc_nas/tec/17263/l_mpi_2019.9.304.tgz

    - name: Install Intel MPI
      run: |
        tar -xzf l_mpi_2019.9.304.tgz
        pushd l_mpi_2019.9.304
        cat << EOF > intel.conf
        ACCEPT_EULA=accept
        CONTINUE_WITH_OPTIONAL_ERROR=yes
        PSET_INSTALL_DIR=${HOME}/intel
        CONTINUE_WITH_INSTALLDIR_OVERWRITE=yes
        PSET_MODE=install
        ARCH_SELECTED=ALL
        COMPONENTS=;intel-conda-index-tool__x86_64;intel-comp-l-all-vars__noarch;intel-comp-nomcu-vars__noarch;intel-imb__x86_64;intel-mpi-rt__x86_64;intel-mpi-sdk__x86_64;intel-mpi-doc__x86_64;intel-mpi-samples__x86_64;intel-mpi-installer-license__x86_64;intel-conda-impi_rt-linux-64-shadow-package__x86_64;intel-conda-impi-devel-linux-64-shadow-package__x86_64;intel-mpi-psxe__x86_64;intel-psxe-common__noarch;intel-compxe-pset
        EOF
        ./install.sh --silent intel.conf
        popd

    - name: Build MPIwrapper
      run: |
        source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh release
        wget https://github.com/eschnett/MPIwrapper/archive/refs/tags/v2.2.1.tar.gz
        tar xzf v2.2.1.tar.gz
        cd MPIwrapper-*
        cmake \
            -DMPIEXEC_EXECUTABLE=mpiexec \
            -DCMAKE_BUILD_TYPE=Debug \
            -DCMAKE_INSTALL_PREFIX=/usr/local \
            .
        cmake --build .
        sudo cmake --install .

    - uses: julia-actions/setup-julia@latest
      with:
        version: ${{ matrix.julia_version }}

    # https://discourse.julialang.org/t/recommendation-cache-julia-artifacts-in-ci-services/35484
    - name: Cache artifacts
      uses: actions/cache@v1
      env:
        cache-name: cache-artifacts
      with:
        path: ~/.julia/artifacts
        key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
        restore-keys: |
          ${{ runner.os }}-test-${{ env.cache-name }}-
          ${{ runner.os }}-test-
          ${{ runner.os }}-

    # We can't use the usual actions here as we need to ensure the environment variables are set
    - name: "Build package"
      run: |
        source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh release
        julia --project -e 'using Pkg; Pkg.instantiate(verbose=true); Pkg.build(verbose=true)'
    - name: "Run tests"
      run: |
        source ${HOME}/intel/compilers_and_libraries/linux/mpi/intel64/bin/mpivars.sh release
        julia --project -e 'using Pkg; Pkg.test()'
